Repository tetrabouille/learn-and-share: changes, and which lint-staged commands are due for each by the changed paths.
All: npm --prefix frontend run lint, npm --prefix frontend run prettier, npm --prefix backend run lint, npm --prefix backend run prettier

.lintstagedrc.json:

{
  "frontend/**/*.{ts,svelte}": ["npm --prefix frontend run lint", "npm --prefix frontend run prettier"],
  "backend/**/*.ts": ["npm --prefix backend run lint", "npm --prefix backend run prettier"]
}

new story responsive
  frontend/src/pages/NewStory.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

make profile responsive
  frontend/src/pages/Profile.svelte
  frontend/tailwind.config.cjs
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

fix responsivness of alert
  frontend/src/components/Alert.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

responsivness login signup
  frontend/src/pages/Login.svelte
  frontend/src/pages/Signup.svelte
  frontend/tailwind.config.cjs
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

install query string
  frontend/package-lock.json
  frontend/package.json
Due: none

Add route config for profile
  frontend/src/App.svelte
  frontend/src/components/header/HeaderLinks.svelte
  frontend/src/components/header/ProfileMenu.svelte
  frontend/src/configs/routes.ts
  frontend/src/pages/Stories.svelte
  frontend/src/utils/commun.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

filter published stories
  backend/src/contexts/story.context.ts
  backend/src/schemas/story.schema.ts
  backend/src/utils/access.ts
  backend/src/utils/mapping.ts
Due: npm --prefix backend run lint, npm --prefix backend run prettier

breakpoints
  frontend/src/App.svelte
  frontend/src/components/BreakPoint.svelte
  frontend/src/components/forms/InputSelectWrapper.svelte
  frontend/src/components/header/Header.svelte
  frontend/src/stores/breakpoint.store.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

Scroll input to top when on mobile
  frontend/src/components/BreakPoint.svelte
  frontend/src/components/forms/InputMultiSelect.svelte
  frontend/src/components/forms/InputSelect.svelte
  frontend/src/components/forms/InputSelectWrapper.svelte
  frontend/src/components/forms/InputText.svelte
  frontend/src/components/forms/InputTextArea.svelte
  frontend/src/components/forms/InputWrapper.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

logout if token is expired
  frontend/src/stores/auth.store.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

change style of boxes
  frontend/src/components/forms/InputDate.svelte
  frontend/src/components/forms/InputSelectWrapper.svelte
  frontend/src/components/forms/InputText.svelte
  frontend/src/components/forms/InputTextArea.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Profile.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

location store to get location params
  frontend/src/App.svelte
  frontend/src/components/header/Header.svelte
  frontend/src/components/header/ProfileMenu.svelte
  frontend/src/configs/routes.ts
  frontend/src/stores/location.store.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

backend - add getAllParams to users and fix stories
  backend/src/contexts/story.context.ts
  backend/src/contexts/tag.context.ts
  backend/src/contexts/user.context.ts
  backend/src/schemas/user.schema.ts
  backend/src/utils/commun.ts
Due: npm --prefix backend run lint, npm --prefix backend run prettier

story page with search for author and param in url
  frontend/src/components/Button.svelte
  frontend/src/pages/Stories.svelte
  frontend/src/queries/story.query.ts
  frontend/src/queries/user.query.ts
  frontend/src/stores/location.store.ts
  frontend/src/utils/commun.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

fix getUrlFromParams
  frontend/src/utils/commun.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

update story context
  backend/src/contexts/topic.context.ts
  backend/src/loaders/topic.loader.ts
  backend/src/loaders/user.loader.ts
  backend/src/schemas/story.schema.ts
Due: npm --prefix backend run lint, npm --prefix backend run prettier

add container component
  frontend/src/components/Container.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Profile.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

Add list stories in stories page
  frontend/src/pages/Stories.svelte
  frontend/src/queries/story.query.ts
  frontend/src/stores/auth.store.ts
  frontend/src/types/story.type.ts
  frontend/src/utils/profile.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

display published/unpublished stories
  backend/src/contexts/story.context.ts
  backend/src/schemas/commun.schema.ts
  backend/src/utils/commun.ts
  frontend/src/components/header/Header.svelte
  frontend/src/pages/Stories.svelte
  frontend/src/types/commun.type.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier, npm --prefix backend run lint, npm --prefix backend run prettier

message for empty stories search results
  frontend/src/pages/Stories.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

publish story context
  backend/src/contexts/story.context.ts
  backend/src/schemas/story.schema.ts
  backend/src/utils/errors.ts
Due: npm --prefix backend run lint, npm --prefix backend run prettier

add buttons to publish stories
  frontend/src/components/BorderButtons.svelte
  frontend/src/pages/Profile.svelte
  frontend/src/pages/Stories.svelte
  frontend/src/queries/story.query.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

new story info section
  frontend/src/components/Container.svelte
  frontend/src/components/forms/InputSelectWrapper.svelte
  frontend/src/components/forms/InputText.svelte
  frontend/src/components/forms/InputTextArea.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Profile.svelte
  frontend/src/pages/Stories.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

api story update
  backend/src/contexts/story.context.ts
  backend/src/contexts/tag.context.ts
  backend/src/schemas/story.schema.ts
  frontend/src/queries/story.query.ts
  frontend/src/types/story.type.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier, npm --prefix backend run lint, npm --prefix backend run prettier

update lang of story
  backend/src/contexts/story.context.ts
  backend/src/schemas/story.schema.ts
  frontend/src/queries/story.query.ts
  frontend/src/types/story.type.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier, npm --prefix backend run lint, npm --prefix backend run prettier

fix typo
  frontend/src/pages/NewStory.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

hotfix new story layout
  frontend/src/pages/NewStory.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

WIP - story card component
  frontend/src/components/story/StoryCard.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Stories.svelte
  frontend/src/utils/commun.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

Done editing stories
  frontend/src/components/story/StoryCard.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Profile.svelte
  frontend/src/pages/Stories.svelte
  frontend/src/queries/story.query.ts
  frontend/src/utils/form.ts
  frontend/src/utils/tag.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

add github action workflow
  .github/workflows/deploy.yml
  Dockerfile
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Avatar.svelte
  frontend/src/components/BorderButtons.svelte
  frontend/src/components/forms/InputMultiSelect.svelte
  frontend/src/components/forms/InputSelectWrapper.svelte
  frontend/src/components/forms/InputWrapper.svelte
  frontend/src/components/header/ProfileMenu.svelte
  frontend/src/components/story/StoryCard.svelte
  frontend/src/pages/Home.svelte
  frontend/src/pages/Login.svelte
  frontend/src/pages/Profile.svelte
  frontend/src/pages/Signup.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

add script to generate google credentials
  .dockerignore
  .gitignore
  google-credentials-template.json
  scripts/env.js
  scripts/generate-credentials.js
  scripts/generate-credentials.sh
Due: none

Fix scripts
  .dockerignore
  Dockerfile
  backend/package-lock.json
  backend/package.json
  scripts/generate-credentials.js
Due: none

get error with method
  backend/src/contexts/profile.context.ts
  backend/src/contexts/story.context.ts
  backend/src/contexts/tag.context.ts
  backend/src/contexts/user.context.ts
  backend/src/utils/errors.ts
Due: npm --prefix backend run lint, npm --prefix backend run prettier

translate topic endpoint
  backend/src/contexts/topic.context.ts
  backend/src/schemas/topic.schema.ts
  backend/src/utils/translation.ts
Due: npm --prefix backend run lint, npm --prefix backend run prettier

translate tag endpoint
  backend/src/contexts/tag.context.ts
  backend/src/schemas/tag.schema.ts
  backend/src/schemas/topic.schema.ts
Due: npm --prefix backend run lint, npm --prefix backend run prettier

add google secrets to pipeline
  .github/workflows/deploy.yml
  Dockerfile
Due: none
