Repository tetrabouille/learn-and-share: changes, and which lint-staged commands are due for each by the changed paths.
All: npm --prefix frontend run lint, npm --prefix backend run lint

fix lint staged config
  .lintstagedrc.json
  frontend/.eslintrc.cjs
  frontend/src/pages/Home.svelte
Due: npm --prefix frontend run lint

header navigation
  .lintstagedrc.json
  backend/.eslintrc.cjs
  backend/src/utils/auth.ts
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.svelte
  frontend/src/app.css
  frontend/src/assets/constellation-logo.svg
  frontend/src/assets/svelte.png
  frontend/src/components/Header.svelte
  frontend/src/components/Note.svelte
  frontend/src/libs/supabase.ts
  frontend/src/pages/About.svelte
  frontend/src/pages/Signup.svelte
  frontend/tailwind.config.cjs
Due: npm --prefix frontend run lint, npm --prefix backend run lint

Fix style of header
  frontend/src/App.svelte
  frontend/src/components/Header.svelte
Due: npm --prefix frontend run lint

WIP - Add inputText and finish signup form
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.css
  frontend/src/components/Header.svelte
  frontend/src/components/forms/InputText.svelte
  frontend/src/i18n/en.json
  frontend/src/i18n/fr.json
  frontend/src/libs/form.ts
  frontend/src/pages/Signup.svelte
  frontend/src/stores/auth.store.ts
Due: npm --prefix frontend run lint

auth store
  frontend/src/stores/auth.store.ts
Due: npm --prefix frontend run lint

alerts
  frontend/src/App.svelte
  frontend/src/components/Alert.svelte
  frontend/src/stores/alert.store.ts
Due: npm --prefix frontend run lint

Fix alert timeout
  frontend/src/components/Alert.svelte
  frontend/src/stores/alert.store.ts
Due: npm --prefix frontend run lint

Remove note
  frontend/src/components/Note.svelte
Due: npm --prefix frontend run lint

signup done + button component
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Button.svelte
  frontend/src/components/Header.svelte
  frontend/src/pages/Home.svelte
  frontend/src/pages/Signup.svelte
  frontend/src/stores/auth.store.ts
Due: npm --prefix frontend run lint

refactor signup to use form store
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/forms/InputText.svelte
  frontend/src/contexts/form.context.ts
  frontend/src/libs/form.ts
  frontend/src/pages/Signup.svelte
Due: npm --prefix frontend run lint

signin page
  frontend/src/components/forms/InputText.svelte
  frontend/src/pages/Login.svelte
  frontend/src/pages/Signup.svelte
Due: npm --prefix frontend run lint

clean and prepare backend
  backend/package-lock.json
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/contexts/index.ts
  backend/src/contexts/post.context.ts
  backend/src/contexts/profile.context.ts
  backend/src/contexts/user.context.ts
  backend/src/schemas/index.ts
  backend/src/schemas/post.schema.ts
  backend/src/schemas/user.schema.ts
  backend/src/server.ts
  backend/src/utils/access.ts
Due: npm --prefix backend run lint

backend - auth user done
  backend/package-lock.json
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/contexts/profile.context.ts
  backend/src/contexts/user.context.ts
  backend/src/loaders/user.loader.ts
  backend/src/schemas/error.schema.ts
  backend/src/schemas/profile.schema.ts
  backend/src/schemas/user.schema.ts
  backend/src/utils/access.ts
  backend/src/utils/auth.ts
  backend/src/utils/crypto.ts
  backend/src/utils/errors.ts
  backend/src/utils/mapping.ts
Due: npm --prefix backend run lint

frontend - routes configs, colors and user auth done
  frontend/colors.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.svelte
  frontend/src/app.css
  frontend/src/components/Button.svelte
  frontend/src/components/Header.svelte
  frontend/src/components/forms/InputText.svelte
  frontend/src/configs/routes.ts
  frontend/src/contexts/form.context.ts
  frontend/src/graphql/user.query.ts
  frontend/src/libs/env.ts
  frontend/src/libs/utils.ts
  frontend/src/pages/BuildAssets.svelte
  frontend/src/pages/Home.svelte
  frontend/src/pages/KnowledgeAssets.svelte
  frontend/src/pages/Login.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Signup.svelte
  frontend/src/pages/Stories.svelte
  frontend/src/pages/Unknown.svelte
  frontend/src/stores/auth.store.ts
  frontend/src/types/error.type.ts
  frontend/src/types/user.type.ts
  frontend/src/utils/access.ts
  frontend/src/utils/form.ts
  frontend/tailwind.config.cjs
Due: npm --prefix frontend run lint

add config to build production image
  .dockerignore
  .gitignore
  Dockerfile
  docker-compose.yml
  frontend/src/libs/supabase.ts
Due: npm --prefix frontend run lint

add image to prisma model
  backend/prisma/schema.prisma
Due: none

add model types
  frontend/src/types/profile.type.ts
  frontend/src/types/story.type.ts
  frontend/src/types/tag.type.ts
  frontend/src/types/topic.type.ts
  frontend/src/types/user.type.ts
Due: npm --prefix frontend run lint

Add story, topic and tag context and schema base + Add created at atributes
  backend/prisma/schema.prisma
  backend/src/contexts/index.ts
  backend/src/contexts/story.context.ts
  backend/src/contexts/tag.context.ts
  backend/src/contexts/topic.context.ts
  backend/src/schemas/index.ts
  backend/src/schemas/story.schema.ts
  backend/src/schemas/tag.schema.ts
  backend/src/schemas/topic.schema.ts
  backend/src/schemas/user.schema.ts
  backend/src/server.ts
  frontend/src/types/profile.type.ts
  frontend/src/types/story.type.ts
  frontend/src/types/tag.type.ts
  frontend/src/types/topic.type.ts
  frontend/src/types/user.type.ts
Due: npm --prefix frontend run lint, npm --prefix backend run lint

WIP - InputWrapper and NewStory page
  frontend/.eslintrc.cjs
  frontend/src/additional-svelte-jsx.d.ts
  frontend/src/components/forms/InputSelect.svelte
  frontend/src/components/forms/InputTextArea.svelte
  frontend/src/components/forms/InputWrapper.svelte
  frontend/src/configs/routes.ts
  frontend/src/contexts/form.context.ts
  frontend/src/pages/Login.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Signup.svelte
  frontend/tsconfig.json
  package-lock.json
Due: npm --prefix frontend run lint

Add input multi select
  backend/tsconfig.json
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/actions/click_outside.ts
  frontend/src/additional-svelte-jsx.d.ts
  frontend/src/components/forms/InputMultiSelect.svelte
  frontend/src/components/forms/InputSelect.svelte
  frontend/src/components/forms/InputSelectWrapper.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/utils/enums.ts
  frontend/src/utils/form.ts
Due: npm --prefix frontend run lint

back - Add filter, pagination and sort
  backend/src/contexts/topic.context.ts
  backend/src/schemas/commun.schema.ts
  backend/src/schemas/index.ts
  backend/src/schemas/topic.schema.ts
  backend/src/server.ts
  backend/src/utils/commun.ts
Due: npm --prefix backend run lint

front - add topics in selection
  frontend/src/components/forms/InputMultiSelect.svelte
  frontend/src/components/forms/InputSelectWrapper.svelte
  frontend/src/graphql/topic.query.ts
  frontend/src/pages/NewStory.svelte
  frontend/src/utils/commun.ts
Due: npm --prefix frontend run lint

back - endpoint to get tags
  backend/src/contexts/tag.context.ts
  backend/src/contexts/topic.context.ts
  backend/src/schemas/tag.schema.ts
  backend/src/utils/commun.ts
Due: npm --prefix backend run lint

back - add logger
  backend/package-lock.json
  backend/package.json
  backend/src/utils/logger.ts
  package-lock.json
Due: npm --prefix backend run lint

add tag context
  backend/src/contexts/tag.context.ts
  backend/src/schemas/tag.schema.ts
  backend/src/utils/errors.ts
Due: npm --prefix backend run lint

Add tag population and creation
  frontend/src/components/forms/InputMultiSelect.svelte
  frontend/src/components/forms/InputSelectWrapper.svelte
  frontend/src/graphql/tag.query.ts
  frontend/src/pages/NewStory.svelte
  frontend/src/types/tag.type.ts
  frontend/src/utils/form.ts
Due: npm --prefix frontend run lint

Add createdAt/updatedAt to tag and topic prisma model
  backend/prisma/schema.prisma
Due: none

use utils index
  backend/src/contexts/profile.context.ts
  backend/src/contexts/story.context.ts
  backend/src/contexts/tag.context.ts
  backend/src/utils/index.ts
Due: npm --prefix backend run lint

add tag and topic, change filters model, add validation utils
  backend/src/contexts/topic.context.ts
  backend/src/schemas/commun.schema.ts
  backend/src/schemas/index.ts
  backend/src/schemas/tag.schema.ts
  backend/src/schemas/topic.schema.ts
  backend/src/utils/commun.ts
  backend/src/utils/validation.ts
Due: npm --prefix backend run lint

add new errors
  backend/src/utils/errors.ts
Due: npm --prefix backend run lint

update input multi select to filter displayOption
  frontend/src/components/Alert.svelte
  frontend/src/components/forms/InputMultiSelect.svelte
  frontend/src/components/forms/InputSelectWrapper.svelte
  frontend/src/components/forms/InputWrapper.svelte
  frontend/src/utils/form.ts
Due: npm --prefix frontend run lint

add mutation tagAdd
  frontend/src/graphql/tag.query.ts
  frontend/src/graphql/topic.query.ts
  frontend/src/types/commun.type.ts
  frontend/src/types/topic.type.ts
Due: npm --prefix frontend run lint

install random-name and add tag and topic random population
  frontend/package-lock.json
  frontend/package.json
  frontend/src/utils/tag.ts
  frontend/src/utils/topic.ts
Due: npm --prefix frontend run lint

Search for tags in new story page
  frontend/src/pages/NewStory.svelte
Due: npm --prefix frontend run lint

fix check access isRegistered
  backend/src/contexts/tag.context.ts
  backend/src/contexts/topic.context.ts
  backend/src/utils/errors.ts
  frontend/src/pages/NewStory.svelte
Due: npm --prefix frontend run lint, npm --prefix backend run lint

Add profile route, rename USER_GET
  frontend/src/App.svelte
  frontend/src/configs/routes.ts
  frontend/src/graphql/user.query.ts
  frontend/src/pages/Login.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Profile.svelte
  frontend/src/types/user.type.ts
Due: npm --prefix frontend run lint

WIP add profile content and rename graphql to query
  frontend/src/App.svelte
  frontend/src/components/Header.svelte
  frontend/src/configs/routes.ts
  frontend/src/pages/Home.svelte
  frontend/src/pages/Login.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Profile.svelte
  frontend/src/pages/Signup.svelte
  frontend/src/queries/tag.query.ts
  frontend/src/queries/topic.query.ts
  frontend/src/queries/user.query.ts
  frontend/src/types/user.type.ts
  frontend/src/utils/tag.ts
  frontend/src/utils/topic.ts
Due: npm --prefix frontend run lint

update user and profile model, add upload file to supabase
  backend/prisma/schema.prisma
  backend/src/contexts/profile.context.ts
  backend/src/contexts/user.context.ts
  backend/src/schemas/profile.schema.ts
  backend/src/schemas/user.schema.ts
  frontend/src/App.svelte
  frontend/src/components/Header.svelte
  frontend/src/pages/Home.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Profile.svelte
  frontend/src/queries/user.query.ts
  frontend/src/types/profile.type.ts
  frontend/src/types/user.type.ts
  frontend/src/utils/file.ts
  frontend/src/utils/profile.ts
Due: npm --prefix frontend run lint, npm --prefix backend run lint

fix edit profile loading
  frontend/src/pages/Profile.svelte
Due: npm --prefix frontend run lint

Add cors midleware
  backend/package-lock.json
  backend/package.json
  backend/src/server.ts
Due: npm --prefix backend run lint

Path conditions:
  npm --prefix frontend run lint: any of: frontend/**/*.{ts,svelte}
  npm --prefix backend run lint: any of: backend/**/*.ts
