Repository tetrabouille/learn-and-share: changes, and which lint-staged commands are due for each by the changed paths.
All: npm --prefix frontend run lint, npm --prefix frontend run prettier, npm --prefix backend run lint, npm --prefix backend run prettier

mutation update profile and auth error in context
  backend/src/contexts/profile.context.ts
  backend/src/contexts/tag.context.ts
  backend/src/contexts/topic.context.ts
  backend/src/contexts/user.context.ts
  backend/src/schemas/profile.schema.ts
  backend/src/schemas/tag.schema.ts
  backend/src/schemas/topic.schema.ts
  backend/src/utils/auth.ts
  backend/src/utils/errors.ts
Due: npm --prefix backend run lint, npm --prefix backend run prettier

App.svelte : header takes token from store
  frontend/src/App.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

update profile to change avatarUrl and refresh supabase token
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Profile.svelte
  frontend/src/queries/profile.query.ts
  frontend/src/stores/auth.store.ts
  frontend/src/types/error.type.ts
  frontend/src/types/profile.type.ts
  frontend/src/utils/file.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

Fix upload avatar
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Profile.svelte
  frontend/src/utils/file.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

Add langs to profile schema
  backend/prisma/schema.prisma
  backend/src/contexts/profile.context.ts
  backend/src/schemas/profile.schema.ts
Due: npm --prefix backend run lint, npm --prefix backend run prettier

Add InputDate
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/forms/InputDate.svelte
  frontend/src/utils/date.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

add langs to profile type
  frontend/src/types/profile.type.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

Fix package.json for production
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: none

backend - create date on profile update
  backend/src/contexts/profile.context.ts
Due: npm --prefix backend run lint, npm --prefix backend run prettier

Add profile update
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/forms/InputDate.svelte
  frontend/src/components/forms/InputMultiSelect.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Profile.svelte
  frontend/src/queries/profile.query.ts
  frontend/src/queries/user.query.ts
  frontend/src/utils/form.ts
  frontend/src/utils/profile.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

WIP - add world svg
  frontend/src/assets/world.ts
  frontend/src/components/World.svelte
  frontend/src/utils/countries.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

Add fav language selection
  frontend/src/pages/Profile.svelte
  frontend/src/utils/date.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

Add avatar component and fix auth store
  frontend/src/components/Avatar.svelte
  frontend/src/pages/Profile.svelte
  frontend/src/stores/auth.store.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

Integrate avatar component to header
  frontend/src/components/Header.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

WIP - add deploy script
  deploy.sh
Due: none

Change langage from Avatar and add profile menu
  frontend/src/components/Avatar.svelte
  frontend/src/components/Header.svelte
  frontend/src/utils/profile.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

refactor profile to use handleLangSelected utils
  frontend/src/pages/Profile.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

fix deploy script
  deploy.sh
Due: none

Add handleError method
  frontend/src/components/Header.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Profile.svelte
  frontend/src/stores/auth.store.ts
  frontend/src/utils/errors.ts
  frontend/src/utils/profile.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

change layout new story page
  frontend/src/pages/NewStory.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

Add user to tag and validate langs
  backend/prisma/schema.prisma
  backend/src/contexts/profile.context.ts
  backend/src/contexts/tag.context.ts
  backend/src/schemas/tag.schema.ts
  backend/src/utils/errors.ts
  backend/src/utils/validation.ts
  frontend/src/components/forms/InputMultiSelect.svelte
  frontend/src/types/tag.type.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier, npm --prefix backend run lint, npm --prefix backend run prettier

Add component SelectItems and use it for langs in Profile
  frontend/src/components/SelectItems.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Profile.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

no setup logged user in profile
  frontend/src/pages/Profile.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

Select lang from new story
  frontend/src/components/Header.svelte
  frontend/src/components/SelectItems.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/pages/Profile.svelte
  frontend/src/utils/profile.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

update deploy script
  deploy.sh
Due: none

fix loggout from story
  frontend/src/pages/NewStory.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

check if user have languages to create story
  frontend/src/components/Header.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/utils/form.ts
  frontend/src/utils/profile.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

add disable inputs
  frontend/src/components/forms/InputMultiSelect.svelte
  frontend/src/components/forms/InputSelect.svelte
  frontend/src/components/forms/InputSelectWrapper.svelte
  frontend/src/components/forms/InputText.svelte
  frontend/src/components/forms/InputTextArea.svelte
  frontend/src/pages/NewStory.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

add warning when no languages in profile
  frontend/src/pages/Profile.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

fix header and lesson input
  frontend/src/components/Header.svelte
  frontend/src/pages/NewStory.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

debug log and fix story schema
  backend/prisma/schema.prisma
  backend/src/server.ts
Due: npm --prefix backend run lint, npm --prefix backend run prettier

add story context
  backend/src/contexts/story.context.ts
  backend/src/contexts/tag.context.ts
  backend/src/contexts/topic.context.ts
  backend/src/schemas/commun.schema.ts
  backend/src/schemas/story.schema.ts
  backend/src/utils/access.ts
  backend/src/utils/commun.ts
  backend/src/utils/errors.ts
  backend/src/utils/validation.ts
Due: npm --prefix backend run lint, npm --prefix backend run prettier

fix filter type with option
  frontend/src/pages/NewStory.svelte
  frontend/src/types/commun.type.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

Add new story and change alert style
  frontend/src/App.svelte
  frontend/src/app.css
  frontend/src/components/Alert.svelte
  frontend/src/pages/NewStory.svelte
  frontend/src/queries/story.query.ts
  frontend/src/stores/alert.store.ts
  frontend/src/types/story.type.ts
  frontend/src/utils/form.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

new genders
  backend/package.json
  frontend/src/components/forms/InputSelectWrapper.svelte
  frontend/src/components/forms/InputWrapper.svelte
  frontend/src/pages/Profile.svelte
  frontend/src/types/profile.type.ts
  frontend/src/utils/profile.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

install country-list
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
Due: none

Add country selection
  backend/prisma/schema.prisma
  backend/src/contexts/profile.context.ts
  backend/src/schemas/profile.schema.ts
  backend/src/utils/errors.ts
  backend/src/utils/validation.ts
  frontend/src/components/forms/InputSelect.svelte
  frontend/src/pages/Profile.svelte
  frontend/src/queries/profile.query.ts
  frontend/src/queries/user.query.ts
  frontend/src/types/profile.type.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier, npm --prefix backend run lint, npm --prefix backend run prettier

WIP - responsive layout
  frontend/src/App.svelte
  frontend/src/app.css
  frontend/src/components/Backdrop.svelte
  frontend/src/components/Header.svelte
  frontend/src/components/header/Header.svelte
  frontend/src/components/header/HeaderLinks.svelte
  frontend/src/components/header/ProfileMenu.svelte
  frontend/src/stores/backdrop.store.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

toggle menu in mobile mode
  frontend/src/components/header/Header.svelte
  frontend/src/components/header/ProfileMenu.svelte
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

hotfix : backdrop
  frontend/src/stores/backdrop.store.ts
Due: npm --prefix frontend run lint, npm --prefix frontend run prettier

Path conditions:
  npm --prefix frontend run lint: any of: frontend/**/*.{ts,svelte}
  npm --prefix frontend run prettier: any of: frontend/**/*.{ts,svelte}
  npm --prefix backend run lint: any of: backend/**/*.ts
  npm --prefix backend run prettier: any of: backend/**/*.ts
